<div class="banner">
  <div class="banner-content">
    <h1> Drinktales </h1>
    <h2> The best stories start with a <span id="banner-typed-text"></span> </h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each.with_index do |cocktail, index| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail.image.url(:standard) %>');">
            <div class="card-category">Top</div>
            <div class="card-description">
              <h2><%= link_to "#{cocktail.name}", cocktail_path(cocktail), class: "cocktail-name" %></h2>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
