<div class="navbar-wrapper"></div>

<div class="container">
  <div class="cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    <div class="card-category">Top</div>
    <div class="card-description">
      <h2><%= link_to "#{@cocktail.name}", cocktail_path(@cocktail), class: "cocktail-name" %></h2>
    </div>
  </div>
  <%= link_to "Back to Cocktails list", cocktails_path, class: "btn btn-primary" %>
</div>
